{% extends "base.html" %}
{% block content %}
  <div class="position-relative">
    <div class="min-vh-50">
      <div class="content-section container-md mt-5">
        <h1 class="my-2 fw-bold " style="font-family: 'Satisfy', cursive;" >Book an Appointment</h1>
        <ul>
        <li>Tips in booking an appointment check our <a href="{{ url_for('FAQ') }}">FAQ</a></li>
        <li>The Salon accepts appointments between 8:00 am and 7:00 pm only</li>
        </ul>
        <br>
        <form method="POST" action="{{ url_for('book_appointment') }}" >
          {{ form.csrf_token }}
          {{ form.hidden_tag() }}
          <div class="form-group row">
            <div class="col-sm-2">
              <strong>{{ form.branch.label(class='form-label') }}</strong>
            </div>
            <div class="col-sm-7">
              {{ form.branch(class='form-control') }}
              {% if form.branch.errors %}
                <ul class="errors">
                  {% for error in form.branch.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-sm-2">
              <strong>{{ form.service.label(class='form-label') }}</strong>
            </div>
            <div class="col-sm-7">
              {{ form.service(class='form-control') }}
              {% if form.service.errors %}
                <ul class="errors">
                  {% for error in form.service.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-sm-2">
              <strong>{{ form.service2.label(class='form-label') }}</strong>
            </div>
            <div class="col-sm-7">
              {% if form.service2.errors %}
                {{form.service2(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in form.service2.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                  Please select Service 2 before selecting Service 3
                </div>
              {% else %}
                {{ form.service2(id='service2', class="form-control") }}
              {% endif %}
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-sm-2">
              <strong>{{ form.service3.label(class='form-label') }}</strong>
            </div>
            <div class="col-sm-7">
              {{ form.service3(id='service3',class='form-control') }}
              {% if form.service3.errors %}
                <ul class="errors">
                  {% for error in form.service3.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
          <br>

          <div class="form-group row">
            <div class="col-sm-2">
              <strong>{{ form.date.label(class='form-label') }}</strong>
            </div>
            <div class="col-sm-7">
              {{ form.date(class='form-control', type="datetime-local") }}
              <br>
              <h6>Check the Available slots <a href="{{ url_for('app_time_zap') }}">here</a></h6>
              {% if form.date.errors %}
                <ul class="errors">
                  {% for error in form.date.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
          
          <br>
          <div class="form-group row mt-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-7">
              {{ form.submit(class='btn btn-outline-primary') }}
              {{ form.submit_another(id='submit_another',class='btn btn-outline-secondary') }}
              {% if form.errors %}
                {% for field, errors in form.errors.items() %}
                  {% for error in errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
  const serviceField = document.getElementById('service');
  const service2Field = document.getElementById('service2');
  const service3Field = document.getElementById('service3');
  const submitAnotherBtn = document.getElementById('submit_another');
  function checkInputs() {
  const disableSubmitAnother = service2Field.value || service3Field.value || (service2Field.value && service3Field.value);
  submitAnotherBtn.disabled = disableSubmitAnother;
  }
  service2Field.addEventListener('input', checkInputs);
  service3Field.addEventListener('input', checkInputs);
  serviceField.addEventListener('change', function() {
  const selectedService = serviceField.value;
  const disableSubmitAnother = ['Traditional Perm', 'Hair Extension', 'Hair Color', 'Highlights', 'Hair Rebond', 'Brazilian', 'Bayalage', 'Nail Extension', 'Ear Candle with Massage'].includes(selectedService);
  submitAnotherBtn.disabled = disableSubmitAnother;
  });
  </script>
{% endblock %}