{% extends "base.html" %}
{% block content %}
  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item  " data-bs-interval="5000" >
        <img src="{{ url_for('static', filename='11.jpg' ) }}" class="d-block w-100 c-img" alt="Slide 1">
        <div class="carousel-caption top-0 ">
          <h2 class="display-2 fw-bolder mt-5 " style="font-family: 'Satisfy', cursive;" >Lhay Lhor Nail Lounge and Spa</h2>
          <h3 style="font-family: 'Satisfy', cursive;">“Life is not Perfect. But your hair and nails can be ”</h3>
        </div>
      </div>
      <div class="carousel-item c-item " data-bs-interval="5000" >
        <img src="{{ url_for('static', filename='12.jpg' ) }}" class="d-block w-100 c-img" alt="Slide 2">
        <div class="carousel-caption top-0 text-center ">
          <h2 class="display-2 fw-bolder mt-5 " style="font-family: 'Satisfy', cursive;">Experience the Relaxation</h2>
          <h3 style="font-family: 'Satisfy', cursive;" >Showcase your inner beauty</h3>
        </div>
      </div>
      <div class="carousel-item c-item " data-bs-interval="5000" >
        <img src="{{ url_for('static', filename='13.jpg' ) }}" class="d-block w-100 c-img" alt="Slide 3">
        <div class="carousel-caption top-0 text-center">
          <h2 class="display-2 fw-bolder mt-5" style="font-family: 'Satisfy', cursive;" >Join now</h2>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="ghostwhite" >
    <section class="gallery min-vh-50 ">
      <div class="container-lg">
        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="col">
            <img src="{{ url_for('static', filename='pic11.jpg' ) }}" class="gallery-item" alt="Gallery1">
          </div>
          <div class="col">
            <img src="{{ url_for('static', filename='pic12.jpg' ) }}" alt="Gallery2">
          </div>
          <div class="col">
            <img src="{{ url_for('static', filename='pic13.jpg' ) }}" class="gallery-item" alt="Gallery3">
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class=" gallery min-vh-30 mb-5 bg-dark " >
    <div class="container">
      <h2 style="color:white; text-align: justify; font-family: 'Satisfy', cursive;">
  <span class="display-1 d-inline">W</span>elcome to Lhay Lhor Nail Lounge and Spa, founded in 2018 by a passionate and skilled entrepreneur who saw the need for a unique, personalized approach to beauty and wellness services. Whether you're looking for a new hairstyle, a relaxing massage, or a refreshing nails, Mrs. Lorelie Jampas and her team of talented and experienced professionals are here to help you look and feel your best. Come visit us and experience the difference for yourself!
</h2>


    </div>
  </section>
  {% if current_user.is_authenticated %}
    <section class=" gallery min-vh-30 mb-5" >
      <div class="container text-center ">
        <a class="link-dark fs-1 " href="{{ url_for('booking') }}" style="font-family: 'Satisfy', cursive; text-decoration: none; " > Meet your new self </a>
      </div>
    </section>
  {% else %}
    <section class=" gallery min-vh-30 mb-5" >
      <div class="container text-center ">
        <p class="link-dark fs-1" href="{{ url_for('signup') }}" style="font-family: 'Satisfy', cursive; text-decoration: none;"> Make time for yourself </p>
      </div>
    </section>
  {% endif %}


{% endblock %}